


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #0898A0;
    padding: 40px;
    /* margin: 10px 100px; */
    font-weight: bold;
    font-size: 16px;
}
nav li:hover{
  cursor: pointer;
  color: green;
}
.container{
  width: 100%;
  margin: 0px auto;
}
.burger-icon{
    width: 10px;
    color: #0898A0;
    background-color: #0898A0;
}
body{
    background-color: #FFFFFF;
}
.nav-list{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}
nav button{
  background-color: #0898A0;
  color: white;
  border: none;
  font-family: fangsong;
  font-size: 24px;
  font-weight: bold;
  padding-right: 20px;
}
button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
}
button:hover{
  cursor: pointer;
  background-color:#484848;
  color: purple;
}
.up-page {
    display: flex;
    margin: 10px 100px;
    gap: 120px;
}
.up-page button{
  color: white;
  background-color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin: 20px;
  text-align: center;
  word-break: initial;
  width: 200px;
  height: 60px;
} 
.home-text h1{
  font-size: 3.5em;
  width: 70%;
  padding-left: 40px;
  color: #0898A0;
}

.home-text p{
  width: 60%;
  padding-left: 40px;
  line-height: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: darkgrey;
}
.second-slide img{
  height: 30px;
  margin: 80px 130px;
 
}
.second-slide{
  display: flex;
  
}
.second-slide img:last-child {
  /* background-color: #0898A0; */
  color: #0898A0;
  
}
.text-and-images{
  display: flex;
  width: 90%;
  gap: 20px;
  padding-left: 100px;
  align-items: center;
  
}
.text-and-images-text{
  width: 50%;
}
.text-and-images-text p{
  color: darkgray;
}
.text-and-images-text li{
  color: #0898A0;
  list-style: none;
  font-weight: bold;
  font-size: 20px;
}

.flex{
  display: flex;
  height: 500px;
  width: 300px;
  margin: 12px;
  justify-content: center;
  text-align: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0px 12px;

}
.flex:last-child {
  padding-bottom: 20px;
}
.split{
  display: flex;
  align-items: center;
  justify-content: center;
}
.inside-img{
 width: 20%;
 border: 10px solid white;
 border-radius: 50px;
 position: relative;
 top: -30px;
}
.gray-text{
  color: gray;
}
.asset-text{
  text-align: center;
  font-size: larger;
  line-height: 20px;
}
.top-div{
  width: 325px;
  height: 130px;
  background-color: #DBFFF8;
  border-radius: 20px;
}
.left-angle {
    margin: 10% auto;
    text-align: center;
  }
  
  .left-angle h1 {
    font-size: 40px;
    font-weight: 200;
  }
.build-wealth{
  display: flex;
  margin-top: 50px;
  gap: 100px;
  justify-content: center;
}
.build-wealth button{
  background-color: #0898A0;
  color: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.build-wealth-img-text{
  width: 400px;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
.comfort{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 100px;
  font-size: 24px;
}
.comfort p{
  font-size: 16px;
  /* width: 500px; */
  color: #484848;
  padding-bottom: 100px;
}
.use-rise{
  text-align: center;
  width: 55%;
  margin: 0px auto;
}
.use-rise h1{
  font-size: 40px;
  color: #0898A0;
}
.use-rise p{
 padding-bottom: 100px;
 text-align: center;
 line-break: loose;
}
.use-rise-conntainer {
  display: flex;
  width: 100%;
  gap: 10px;
  margin: 0px auto;
  /* padding: 0 -30px; */
  justify-content: center;
}
.testimony{
  display: flex;
  padding: 20px;
  border-radius: 10px;
  /* border: 1px solid blue; */
  width: 350px;
  height: 400px;
  text-align: center;
  line-height: 18px;
  justify-content: space-between;
  /* text-align: center; */
  color: dimgray;
  /* border: 1px solid red; */
  box-shadow: #A0DDE2 0px 5px 15px;
}
.testimony img{
  border-radius: 50px;
  
}
.winning{
  display: flex;
  gap: 20px;
  align-items: center;
   text-align: center;
  position: relative;
  bottom: -150px; 
  right: 87px;
  
  
}
.join-rise{
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
  gap: 50px;
}
.join-rise-text{
  width: 60%;
  margin: 100px;
  text-align: start;
  font-size: 20px;
  /* padding: 5%; */
}

.join-rise-img{
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  margin: 100px;
}
.join-rise button{
    width: 200px;
    height: 60px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #A0DDE2;
    border: none;
    margin-top: 30px;
}
.min-web{
  display: flex;
  margin: 10px 100px;
  text-align: start;
  background-color: #E3F2F3;
  /* background-size: contain; */
  width: 70%;
  height: 200px;
  padding: 10%;
  border-radius: 20px;
  z-index: -100;
}
.google-button{
  display: flex;
  gap: 20px;
}
.min-web button{
  background-color: black;
  color: white;
}
.min-web h2{
  width: 80%;
}
.min-web-img img{
  height: 190%;
  width: 100%; 
  position: relative;
  top: -20px;
  bottom: -80px;
  z-index: 999;
}
.footer{
  display: flex;
  /* border: 1px solid blue; */
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
}
form {
    padding: 20px 0;
    position: relative;
  }
  form input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 300;
    outline: none;
  }
  .form-cover{
    background-color: #A0DDE2;
  }
  form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #50a3a2;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
  }
.formatic{
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-weight: 300;
    background: #50a3a2;
    padding: 1px;
    width: 100%;
    height: 100%;
}
.starter{
    text-align: center;
    margin: 10px auto;
}
img{
  max-width: 100%;
}
@media (max-width: 700px) {
  
.container{
    width: 95%;
    margin: 0 auto;
    /* background-color: red; */
    /* text-align: center; */
    /* padding: 25px; */
    /* justify-content: center; */
  }
  

  nav{
    display: flex;
    justify-content: space-between;
    /* margin: 20px; */
    padding: 5px;
    /* flex-direction: column; */
    /* padding-bottom: 20px; */
    /* width: 70%; */
}
.nav-list{
  display: none;
}
.up-page {
  display: flex;
  flex-direction: column;
  margin: 24px 24px;
}
.text-and-images{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0px;
  gap: 20px;
  justify-content: center;
  /* padding-left: 100px; */
  /* align-items: center; */
  text-align: center;
  
}
.text-and-images h1{
  color: #717171;
  padding: 70px 0px 0px 0px;
}
.flex{
  display: flex;
  flex-direction: column;
  /* margin: 100px 0px; */
  width: 250px;
  height: 570px;
}
.split {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}
.build-wealth{
  display: flex;
  flex-direction: column;
  
}
.comfort{
  display: flex;
  flex-direction: column;
}
.testimony{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}
.use-rise-conntainer{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.winning{
  display: flex;
  gap: 12px;
  align-items: center;
  text-align: center;
  position: relative;
  bottom: 20px; 
  left: 47px;
}
.join-rise{
  display: flex;
  flex-direction: column;
}
.home-text h1 {
  font-size: 1.5em;
  width: 100%;
  height: 20%;
  /* margin: 0 auto; */
  padding: 0px;
  text-align: left;
  color: #0898A0;
}
.min-web{
  display: none;
}
.footer{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.comfort{
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
}
.comfort h1{
  font-size: 35px;
  
}
.use-rise{
  width: 100%;
  /* padding: 10px; */
  /* font-size: 30px; */
}
.use-rise h1 {
  font-size: 32px;
  color: #0898A0;
}
.join-rise-text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* padding: 5%; */
}
.join-rise-img img{
  display: flex;
  margin: 0px auto;
  padding: 0px;
  width: 70%;
}
.text-and-images img{
  width: 100%;
}

.top-div{
  width: 250px;
  height: 240px;
  background-color: #DBFFF8;
  border-radius: 20px;
}
.flex{
  padding: 7px 0px;
}
.home-text p {
    width: 100%;
    padding: 10px;
    /* line-height: 15px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkgrey;
}
.risevest-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.up-page button{
  
  width: 100px;
  height: 40px;
  font-size: 10px;
  /* margin: 20px; */
  
}

.build-wealth button{
  margin: 40px 0px;
}
.build-wealth-img-text{
  width: 100%;
  font-family: sans-serif;
  /* align-items: center; */
  /* align-self: center; */
  justify-content: center;
  /* text-align: center; */
  font-size: 20px;
  padding: 10px 0px;
}
.build-wealth-img{
  width: 100%;
  margin: 0 auto;
  /* justify-content: center; */
  /* align-items: center; */

}
.second-slide{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 90%;
  gap: 40px;
  margin: auto;
  justify-content: center;
 
}
.second-slide-img{
width: 40%;
}
.second-slide-img img{
  width: 115px;
  height: 34.33px;
  margin: 0;
  }
  .second-slide img:last-child {
    background: none;
  }
  .text-and-images-text{
    width: 100%;
    height: 40%;
    /* gap: 30px; */
    /* margin: 0px;
    padding: 0px; */
  }
}